<style type="text/css">
  .post_frame {
    padding: 15px;
    padding-left: 15px;
    background-color: #7ae7bf;
    border: 2px solid transparent;
  	border-radius: 6px;
   }
</style>

<h4>Post details:</h4>
<br/>
<p class="post_frame">
	<b><%= @post.content %></b>
</p>
	<small style="color: #999">Added by: <%=@post.name%> at: <%=@post.created_at.strftime('%d-%m-%Y %H:%M')%></small>
<hr/>
<br/>
<h4>Comments:</h4>
<br/>
<% @comments.each do |row| %>
	<p>
		<%=row.content%>
		<br/>
		<small style="color: #999">Added at: <%=row.created_at.strftime('%d-%m-%Y %H:%M')%></small>
		<br/>
	</p>
	<hr/>
<% end %>

<p>
	<form action="/details/<%=@post.id%>" method="post">
	  <div class="form-group">
	    <textarea name="comment[content]" class="form-control" rows="3" placeholder="Type comment text here"></textarea>
	  </div>
	  <button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>